apiVersion: v1
kind: ConfigMap
metadata:
  name: environment
data:
  MQRABBIT_USER: nagios
  MQRABBIT_HOST: "hostname for mqrabbit server"
  MQRABBIT_VHOST: "virtual host for mqrabbit. Defaults to /"
  MQRABBIT_PORT: "Port on which to contact mqrabbit"
  MQRABBIT_EXCHANGE: "Name of the mqrabbit exchange to which to post"
  MQTT_USER: "Name of the mqtt user that will read temperature entries"
  MQTT_HOST: "hostname for MQTT server"
  MQTT_PORT: "Port for MQTT server"
  MQTT_QUEUE: "Name of MQTT queue to read events from"
  MQRABBIT_RGBEXCHANGE: "Name of exchange for RGB display commands"
  TEMPERATURE_RGBMATRIX_NAMEFILTER1: "SenML-name of device that needs displaying on position 1"
  TEMPERATURE_RGBMATRIX_NAMEFILTER2: "SenML-name of device that needs displaying on position 2"
  TEMPERATURE_RGBMATRIX_NAMEFILTER3: "SenML-name of device that needs displaying on position 3"
  ES_URL: "Url of elasticsearch server"
  ES_USER: "Username for basic auth at elasticsearch server"
