apiVersion: v1
kind: Secret
metadata:
  name: passwords
data:
  MQRABBIT_PASSWORD: "Base 64 value of mqrabbit password"
  MQTT_PASSWORD: "Base 64 value of mqtt user password"
  ES_PASSWORD: "Base 64 value of elasticsearch password"